{
  "brewery_name": "My Fermentorium",
  "brewer_name": "Frank",
  "units": "Fahrenheit",
  "sms_provider": "twilio",
  "twilio_account_sid": "",
  "twilio_auth_token": "",
  "twilio_from_number": "",
  "android_gateway_url": "",
  "android_gateway_api_key": ""
}
