{
  "brewery_name": "My Fermentorium",
  "brewer_name": "Frank",
  "units": "Fahrenheit",
  "push_provider": "pushover",
  "pushover_user_key": "",
  "pushover_api_token": "",
  "pushover_device": "",
  "ntfy_server": "https://ntfy.sh",
  "ntfy_topic": "",
  "ntfy_auth_token": ""
}
