{
  "Red": {
    "beer_name": "",
    "batch_name": "",
    "ferm_start_date": "",
    "recipe_og": "",
    "recipe_fg": "",
    "recipe_abv": "",
    "actual_og": null,
    "brewid": ""
  },
  "Green": {
    "beer_name": "",
    "batch_name": "",
    "ferm_start_date": "",
    "recipe_og": "",
    "recipe_fg": "",
    "recipe_abv": "",
    "actual_og": null,
    "brewid": ""
  },
  "Black": {
    "beer_name": "",
    "batch_name": "",
    "ferm_start_date": "",
    "recipe_og": "",
    "recipe_fg": "",
    "recipe_abv": "",
    "actual_og": null,
    "brewid": ""
  },
  "Purple": {
    "beer_name": "",
    "batch_name": "",
    "ferm_start_date": "",
    "recipe_og": "",
    "recipe_fg": "",
    "recipe_abv": "",
    "actual_og": null,
    "brewid": ""
  },
  "Orange": {
    "beer_name": "",
    "batch_name": "",
    "ferm_start_date": "",
    "recipe_og": "",
    "recipe_fg": "",
    "recipe_abv": "",
    "actual_og": null,
    "brewid": ""
  },
  "Blue": {
    "beer_name": "",
    "batch_name": "",
    "ferm_start_date": "",
    "recipe_og": "",
    "recipe_fg": "",
    "recipe_abv": "",
    "actual_og": null,
    "brewid": ""
  },
  "Yellow": {
    "beer_name": "",
    "batch_name": "",
    "ferm_start_date": "",
    "recipe_og": "",
    "recipe_fg": "",
    "recipe_abv": "",
    "actual_og": null,
    "brewid": ""
  },
  "Pink": {
    "beer_name": "",
    "batch_name": "",
    "ferm_start_date": "",
    "recipe_og": "",
    "recipe_fg": "",
    "recipe_abv": "",
    "actual_og": null,
    "brewid": ""
  }
}
